@model Prueba.Models.Producto

<h4>Productos</h4>

<div>
    <form aps-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Descripcion"></label>
            <input asp-fpr="Descripcion"/>
            <span asp-validation-for="Descripcion"> </span>
        </div>
        <div>
            <input type="submit" value="Guardar"/>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>