@model Prueba.Models.Producto

<h4>Producto</h4>

<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="IdProducto"/>
        <div>
            <label asp-for="Descripcion"></label>
            <input asp-for="Descripcion">
            <span asp-validation-for="Descripcion"></span>
        </div>
        <div>
            <label asp-for="Precio"></label>
            <input asp-for="Precio"/>
            <span asp-validation-for="Precio"></span>
        </div>
        <div>
            <label asp-for="Cantidad"></label>
            <input asp-for="Cantidad"/>
            <span asp-validation-for="Cantidad"></span>
        </div>
        <div>
            <input type="submit" value="Guardar">
        </div>      
    </form>
</div>

<div>
    <a asp-action="Index">Volver atrás</a>
</div>