@model IEnumerable<Prueba.Models.Producto>

<p>
    <a asp-action="Create">Agregar</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
        </tr>
    </thead>
    <tbody>
        @*Comentarios*@
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdProducto">x</a>
            </td>
        </tr>
        }   
    </tbody>
</table>