@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Tienda de compras de Cenati</h1>
    <p>¡Aquí encontrarás todos los productos que necesitas!</p>
</div>
